<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealHub | Delicious Delivered</title>

    {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <div class="hero-section">
        <div class="hero-content">
            <h1>MealHub</h1>
            <h3>Delicious food delivered to your door</h3>

            <div class="hero-buttons">
                <a href="{% url 'open_signup' %}" class="btn signup-btn">Sign Up</a>
                <a href="{% url 'open_signin' %}" class="btn signin-btn">Sign In</a>
            </div>
        </div>
    </div>

</body>
</html>
